div {
  font-family: "Google Sans", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-weight: 700;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 18px;
  padding: 4rem;
  background: white;
}
.title {
  font-size: 18px;
  font-weight: 700;
}
input {
    width: 16rem;
    height: 1.8rem;
    text-align: center;
    border-radius: 8px;
    border: 0px;
    outline: none;
    font-weight: bold;
    font-family: "Google Sans", sans-serif;
    box-shadow: rgba(5, 67, 77, 0.2) 0px 1px 3px 0px, rgba(5, 67, 77, 0.5) 0px 0px 0px 1px;
}
input:focus {
    border: 0px;
    outline: rgb(5, 67, 77);
}
button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(5, 67, 77);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 8px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 6rem;
  font-weight: bold;
  font-family: "Google Sans", sans-serif;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(5, 67, 77);
  left: 0;
  top: 0;
  border-radius: 10px;
}