.flex {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.container {
    flex-direction: column;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 14px;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.font-fam {
    font-family: "Mozilla Headline", sans-serif;
}