.flex {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.container {
    flex-direction: column;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0.5px solid black;
    border-radius: 14px;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.font-fam {
    font-family: "Mozilla Headline", sans-serif;
}