.container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    margin: 1rem;
}
.title {
    font-size: 24px;
}
.items {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 16px;
}
.font {
    font-family: "TASA Explorer", sans-serif;
}
.access {
    display: flex;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 14px;
    gap: 2rem;
}

.hover-underline {
  color: #000000;
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgb(5,67,77), #05658e);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}
a {
  text-decoration: none;
  color: inherit;
}
.access:hover {
  background: rgb(5,67,77);
  animation:slidebg 1s linear infinite;
  color: white;
}
.hover-button:hover {
  color: white;
  text-shadow: 2px 2px rgb(19, 149, 219);
}