@font-face {
    font-family: "Google Sans";
    src: url("../public/GoogleSans.ttf");
}
@font-face {
    font-family: "TASA Explorer";
    src: url("../public/TASAExplorer-VariableFont_wght.ttf");
}
html body {
    margin: 0;
    height: 100vh;
    width: 100%;
}